<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>red</string>
	<string>blue</string>
	<string>car</string>
	<string>boy</string>
	<string>girl</string>
	<string>dog</string>
	<string>cat</string>
	<string>food</string>
	<string>milk</string>
	<string>ipad</string>
</array>
</plist>
