<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>birthday</string>
	<string>brother</string>
	<string>chicken</string>
	<string>children</string>
	<string>christmas</string>
	<string>farmer</string>
	<string>father</string>
	<string>flower</string>
	<string>ground</string>
	<string>letter</string>
	<string>morning</string>
	<string>mother</string>
	<string>picture</string>
	<string>rabbit</string>
	<string>sister</string>
	<string>squirrel</string>
	<string>sister</string>
	<string>squirrel</string>
	<string>street</string>
	<string>window</string>
</array>
</plist>
