<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>apple</string>
        <string>baby</string>
        <string>back</string>
        <string>ball</string>
        <string>bear</string>
        <string>bell</string>
        <string>bird</string>
        <string>boat</string>
        <string>bread</string>
        <string>cake</string>
        <string>chair</string>
        <string>coat</string>
        <string>corn</string>
        <string>doll</string>
        <string>door</string>
        <string>duck</string>
        <string>farm</string>
        <string>feet</string>
        <string>fire</string>
        <string>fish</string>
        <string>floor</string>
        <string>game</string>
        <string>hand</string>
        <string>girl</string>
        <string>grass</string>
        <string>hand</string>
        <string>head</string>
        <string>hill</string>
        <string>home</string>
        <string>horse</string>
        <string>house</string>
        <string>kitty</string>
        <string>milk</string>
        <string>money</string>
        <string>name</string>
        <string>nest</string>
        <string>night</string>
        <string>paper</string>
        <string>party</string>
        <string>rain</string>
        <string>ring</string>
        <string>robin</string>
        <string>seed</string>
        <string>sheep</string>
        <string>shoe</string>
        <string>snow</string>
        <string>song</string>
        <string>shoe</string>
        <string>snow</string>
        <string>song</string>
        <string>stick</string>
        <string>table</string>
        <string>thing</string>
        <string>time</string>
        <string>touch</string>
        <string>tree</string>
        <string>watch</string>
        <string>water</string>
        <string>wind</string>
        <string>wood</string>
</array>
</plist>
