<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>The Braille Typing interface can be used to practice typing sentances in braille.</string>
	<string>The Home menu is where you can always get back to learn about all the features of AccessBraille.</string>
	<string>In Settings you can confgure AccessBraille to work best for you.</string>
	<string>Get to know AccessBraille and how to get around.</string>
	<string>This is the flash card discription, it needs one...</string>
</array>
</plist>
