<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Practice Braille Typing</string>
	<string>Home Screen</string>
	<string>Settings</string>
	<string>Instructions</string>
	<string>Flash Cards</string>
	<string>Text Adventure</string>
</array>
</plist>
