<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>The Braille Typing interface can be used to practice typing sentances in braille.</string>
	<string>In Settings you can configure AccessBraille to work best for you.</string>
	<string>Get to know AccessBraille and how to get around.</string>
	<string>A fun flash card mode to practice learning words in a game type setting.</string>
	<string>Use your braille typing skills to set forth on an epic text adventure!</string>
	<string>Information about the project and the technologies the developers used to create it.</string>
</array>
</plist>
