<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100110</key>
	<string>ound</string>
	<key>100010</key>
	<string>ance</string>
	<key>101110</key>
	<string>sion</string>
	<key>011100</key>
	<string>less</string>
	<key>011110</key>
	<string>ount</string>
</dict>
</plist>
