<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100010</key>
	<string>ence</string>
	<key>110110</key>
	<string>ong</string>
	<key>111000</key>
	<string>ful</string>
	<key>101110</key>
	<string>tion</string>
	<key>011100</key>
	<string>ness</string>
	<key>011110</key>
	<string>ment</string>
	<key>101111</key>
	<string>ily</string>
</dict>
</plist>
