<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>101001</key>
	<string>upon</string>
	<key>011101</key>
	<string>these</string>
	<key>100111</key>
	<string>those</string>
	<key>100011</key>
	<string>whose</string>
	<key>010111</key>
	<string>word</string>
</dict>
</plist>
