<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>b</key>
	<string>but</string>
	<key>c</key>
	<string>can</string>
	<key>d</key>
	<string>do</string>
	<key>e</key>
	<string>every</string>
	<key>f</key>
	<string>from</string>
	<key>g</key>
	<string>go</string>
	<key>h</key>
	<string>have</string>
	<key>j</key>
	<string>just</string>
	<key>k</key>
	<string>knowledge</string>
	<key>l</key>
	<string>like</string>
	<key>m</key>
	<string>more</string>
	<key>n</key>
	<string>not</string>
	<key>p</key>
	<string>people</string>
	<key>q</key>
	<string>quite</string>
	<key>r</key>
	<string>rather</string>
	<key>s</key>
	<string>so</string>
	<key>t</key>
	<string>that</string>
	<key>u</key>
	<string>us</string>
	<key>v</key>
	<string>very</string>
	<key>i</key>
	<string>it</string>
	<key>y</key>
	<string>you</string>
	<key>z</key>
	<string>as</string>
	<key>ch</key>
	<string>child</string>
	<key>sh</key>
	<string>shall</string>
	<key>th</key>
	<string>this</string>
	<key>wh</key>
	<string>which</string>
	<key>ou</key>
	<string>out</string>
	<key>w</key>
	<string>will</string>
	<key>ab</key>
	<string>about</string>
	<key>abv</key>
	<string>above</string>
	<key>ac</key>
	<string>according</string>
	<key>acr</key>
	<string>across</string>
	<key>af</key>
	<string>after</string>
	<key>afn</key>
	<string>afternoon</string>
	<key>afw</key>
	<string>afterward</string>
	<key>ag</key>
	<string>again</string>
	<key>agst</key>
	<string>against</string>
	<key>alm</key>
	<string>almost</string>
	<key>alr</key>
	<string>already</string>
	<key>al</key>
	<string>also</string>
	<key>alth</key>
	<string>although</string>
	<key>alt</key>
	<string>altogether</string>
	<key>alw</key>
	<string>always</string>
	<key>bec</key>
	<string>because</string>
	<key>bet</key>
	<string>between</string>
	<key>bef</key>
	<string>before</string>
	<key>beh</key>
	<string>behind</string>
	<key>bel</key>
	<string>below</string>
	<key>ben</key>
	<string>beneath</string>
	<key>bes</key>
	<string>beside</string>
	<key>bey</key>
	<string>beyond</string>
	<key>bl</key>
	<string>blind</string>
	<key>brl</key>
	<string>braille</string>
	<key>chn</key>
	<string>children</string>
	<key>concv</key>
	<string>conceive</string>
	<key>concvg</key>
	<string>conceiving</string>
	<key>cd</key>
	<string>could</string>
	<key>dcv</key>
	<string>deceive</string>
	<key>dcvg</key>
	<string>deceiving</string>
	<key>dcl</key>
	<string>declare</string>
	<key>dclg</key>
	<string>declaring</string>
	<key>ei</key>
	<string>either</string>
	<key>fst</key>
	<string>first</string>
	<key>fr</key>
	<string>friend</string>
	<key>gd</key>
	<string>good</string>
	<key>grt</key>
	<string>great</string>
	<key>herf</key>
	<string>herself</string>
	<key>hm</key>
	<string>him</string>
	<key>imm</key>
	<string>immediate</string>
	<key>xs</key>
	<string>its</string>
	<key>xf</key>
	<string>itself</string>
	<key>lr</key>
	<string>letter</string>
	<key>ll</key>
	<string>little</string>
	<key>mch</key>
	<string>much</string>
	<key>mst</key>
	<string>must</string>
	<key>mgf</key>
	<string>myself</string>
	<key>nec</key>
	<string>necessary</string>
	<key>nei</key>
	<string>neither</string>
	<key>onef</key>
	<string>oneself</string>
	<key>ourvs</key>
	<string>ourselves</string>
	<key>pd</key>
	<string>paid</string>
	<key>percv</key>
	<string>perceive</string>
	<key>percvg</key>
	<string>perceiving</string>
	<key>perh</key>
	<string>perhaps</string>
	<key>qk</key>
	<string>quick</string>
	<key>rcv</key>
	<string>receive</string>
	<key>rcvg</key>
	<string>receiving</string>
	<key>rjc</key>
	<string>rejoice</string>
	<key>rjcg</key>
	<string>rejoicing</string>
	<key>sd</key>
	<string>said</string>
	<key>shd</key>
	<string>should</string>
	<key>sch</key>
	<string>such</string>
	<key>themvs</key>
	<string>themselves</string>
	<key>thyf</key>
	<string>thyselfs</string>
	<key>td</key>
	<string>today</string>
	<key>tgr</key>
	<string>together</string>
	<key>tm</key>
	<string>tomorrow</string>
	<key>tn</key>
	<string>tonight</string>
	<key>wd</key>
	<string>would</string>
	<key>yr</key>
	<string>your</string>
	<key>yrf</key>
	<string>yourself</string>
	<key>yrvs</key>
	<string>yourselves</string>
</dict>
</plist>
